import React from 'react';

export default function {{ page_name_pascal }}() {
    return (
        <div>
            <h1>{{ page_name_pascal }} Page</h1>
            {/* Start building your page here! */}
        </div>
    );
};