from app.db.base import CRUDBase
from app.models.{{ resource_name_snake }} import {{ resource_name_pascal }}
from app.db.schemas.{{ resource_name_snake }} import {{ resource_name_pascal }}Create, {{ resource_name_pascal }}Update

# Create a CRUD object for the {{ resource_name_pascal }} model,
# inheriting all the basic CRUD methods from the CRUDBase.
crud_{{ resource_name_snake }} = CRUDBase[{{ resource_name_pascal }}, {{ resource_name_pascal }}Create, {{ resource_name_pascal }}Update]({{ resource_name_pascal }})