from sqlalchemy import Column, Integer, Text, String, Boolean, Float, Date, DateTime, Uuid
from app.db.base_class import Base

class {{ resource_name_pascal }}(Base):
    __tablename__ = "{{ resource_name_plural_snake }}"

    id = Column(Integer, primary_key=True, index=True)
    {% for field in fields -%}
    {{ field.name }} = Column({{ type_to_sqlalchemy(field.type) }}{{ ", nullable=False" if field.required else "" }})
    {% endfor %}